html, body {
  overflow-x: hidden; /* this will hide side scrollbar */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes glow-border {
  0% {
    box-shadow: 0 0 0px #a855f7;
  }
  50% {
    box-shadow: 0 0 15px #a855f7, 0 0 30px #9333ea;
  }
  100% {
    box-shadow: 0 0 0px #a855f7;
  }
}

.animate-glow-border {
  border-radius: 1rem;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #a855f7, #9333ea, #8b5cf6);
  background-size: 300% 300%;
  animation: glow-border 3s ease-in-out infinite;
}
.nav-link:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #a855f7, #9333ea);
}
html {
  scroll-behavior: smooth;
}
